# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V3
.Trashes
ehthumbs.db
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NestJS / Backend
backend/dist/
backend/.env
backend/coverage/

# Next.js / Admin
admin/.next/
admin/.env.local
admin/.env

# Flutter
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
