<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfkTuQxu5mhuB5wRjLB7FnE9DfUP8Ed8o</string>
	<key>GCM_SENDER_ID</key>
	<string>634227882013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadirli.kadirliapp</string>
	<key>PROJECT_ID</key>
	<string>kadirliapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>kadirliapplication.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634227882013:ios:866074df51a27e6df5eef4</string>
</dict>
</plist>